<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>{{user_name}}</h1>
    <p>Welcom to Debugger App</p>
    <form action="/submitRequest" method="POST">
        <button type="submit">Send Code to Debug</button>
    </form>
    <form action="/myRequests" method="POST">
        <button type="submit">My Requests</button>
    </form>
</body>
</html>